#screenshots>div {
    position: relative;
}

#screenshot-button {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
}

#screenshots .thumbnail {
    cursor: zoom-in;
}

.image.is-portrait .thumbnail {
    height: 100%;
    width: auto;
}