// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

// $blue: #003366;
$cyan: #b7d2db;
// $yellow: #e8e103;
// $purple: #590046;
// $green: #004122;
// $turquois: #7f9f90;
// $orange: #FF9900;
$red: #e5017b;

// -----------------------------------------------------------------------------
// sizes and spacing
// -----------------------------------------------------------------------------
// $radius: 0;

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

// $family-primary: serif;

$easing: cubic-bezier(0.165, 0.84, 0.44, 1);

// -----------------------------------------------------------------------------
// Derived variables
// -----------------------------------------------------------------------------

$primary: $red;
// $tablet: $desktop;


// -----------------------------------------------------------------------------
// Menu
// -----------------------------------------------------------------------------

$menu-item-color: $white;
$menu-item-radius: 0;
$menu-item-hover-color: $white;
$menu-item-hover-background-color: $red;
$menu-item-active-color: $white;
$menu-item-active-background-color: darken($red, 10%);
$menu-list-link-padding: 1rem 1.5rem;

$switch-paddle-offset: 0.125rem;