{% extends "base.html" %}
{% block title %}App Center{% endblock %}

{% block main %}

<div id="appcenter">

    <!-- Installed presentation -->
    <section id="installed-app" class="section has-background-info" v-if="installedPresentation">
        <div class="container">

            <div class="columns">
                <div class="column is-half is-two-thirds-desktop is-half-widescreen is-offset-1-widescreen">
                    <figure class="image">
                        <img v-bind:src="'/appcenter/media/' + installedPresentation.thumbnail">
                    </figure>
                </div>

                <div class="column is-flex is-flex-direction-column is-justify-content-center is-align-items-start">
                    <span class="tag is-primary block">
                        Installed presentation
                    </span>

                    <h1 class="title">[[ installedPresentation.name ]]</h1>
                    <h2 class="subtitle">By <a v-bind:href="installedPresentation.homepage">[[ installedPresentation.maintainer ]]</a></h2>

                    <div class="block content">[[ installedPresentation.summary ]]</div>
                    
                    <a class="button is-outlined is-dark is-small"
                        v-bind:href="'/appcenter/' + installedPresentation.packageName">
                        Details
                    </a>
                </div>
            </div>

        </div>
    </section>

    <section class="section has-background-light">
        <div class="container">

            <div class="box mb-6">

                <div class="field is-grouped is-grouped-multiline">


                    <div class="control" v-for="section in sections">
                        <label class="checkbox is-size-7 pt-2">
                            <input type="checkbox" :value="section.id" v-model="filter.sections">
                            [[section.name]]
                        </label>
                    </div>

                    <div class="control has-icons-left">
                        <input type="text" class="input is-small" placeholder="Search" v-model="filter.query">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>

                    <div class="control">
                        <label class="checkbox is-size-7 pt-2">
                            <input type="checkbox" v-model="filter.installedOnly">
                            Installed only
                        </label>
                    </div>

                </div>

            </div>

            <div class="columns is-multiline">

                <div v-for="package in filteredPackages"
                    class="column is-half-tablet is-one-third-desktop is-one-quarter-widescreen">
                    <div class="card is-flex is-flex-direction-column" style="height: 100%;">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img v-bind:src="'/appcenter/media/' + package.thumbnail">
                            </figure>
                        </div>
                        <div class="card-content is-flex-grow-1">

                            <p class="title is-5 mb-2">[[package.name]]</p>

                            <div class="tags has-addons mt-1 mb-4">

                                <span v-if="package.section == 'tooloop/presentation'"
                                    class="tag is-primary">Presentation</span>
                                <span v-else class="tag is-dark has-background-grey-light">Addon</span>

                                <span v-if="package.isInstalled" class="tag is-success">
                                    <span class="icon is-small">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </span>

                            </div>

                            <div class="content">
                                [[package.summary]]
                            </div>

                        </div>

                        <footer class="card-footer is-clipped">
                            <a v-if="package.isInstalled" class="card-footer-item has-text-primary pr-4"
                                v-on:click="uninstall(package)">
                                <span class="icon has-text-grey mr-1">
                                    <i class="fas fa-trash"></i>
                                </span>
                                Uninstall
                            </a>
                            <a v-else class="card-footer-item pr-4" v-on:click="install(package)">
                                <span class="icon has-text-grey mr-1">
                                    <i class="fas fa-download"></i>
                                </span>
                                Install
                            </a>

                            <a v-bind:href="'/appcenter/' + package.packageName" class="card-footer-item has-text-grey pr-4">
                                <span class="icon has-text-info mr-1">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                Details
                            </a>
                        </footer>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <div id="installer" class="modal" v-bind:class="{'is-active': installer.isActive}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">[[installer.title]]</p>
            </header>
            <section ref="log" class="modal-card-body has-background-dark">
                <code class="has-background-dark has-text-grey-light p-0" v-html="installer.log"></code>
            </section>
            <footer class="modal-card-foot">
                <div class="field is-grouped is-flex-grow-1">

                    <div class="control is-expanded is-flex is-align-items-center">
                        <progress class="progress"
                            v-bind:class="{'is-success': installer.isFinished && installer.success, 'is-danger': installer.isFinished && !installer.success}"
                            v-bind:value="installer.progress" max="100">[[installer.progress]]
                            %</progress>
                    </div>
                    <div class="control">
                        <button class="button" style="width: 6rem;" 
                            v-bind:class="{'is-loading': !installer.isFinished}"
                            v-bind:disabled="!installer.isFinished"
                            v-on:click="installer.isActive = false">Close</button>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</div>
{% endblock %}


{% block footer_scripts %}
<script>
    // Initial state from server
    const installedPresentation = {{ installed_presentation| tojson }};
    const availablePackages = {{ available_packages| tojson }};
</script>
<script src=" {{ url_for('static', filename='vendor/fuzzysort-1.9.0/fuzzysort.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/appcenter.js') }}"></script>
{% endblock %}