{% extends "base.html" %}

{% block title %}App Center{% endblock %}

{% block main %}
<div id="package-detail">

    <section class="section has-background-info">
        <div class="container">

            <h1 class="title is-hidden-desktop">[[package.name]]</h1>

            <div class="columns">

                <div class="column is-half is-two-thirds-widescreen">
                    
                    <div v-if="package.media.length > 0" class="gallery">
                        <div class="gallery-body has-background-info">
                            <img v-for="media in package.media" style="display: block;" :src="'/appcenter/media/' + media">
                        </div>
                        <!-- <span class="icon has-text-light gallery-next"><i class="fas fa-angle-right"></i></span>
                        <span class="icon has-text-light gallery-previous"><i class="fas fa-angle-left"></i></span> -->
                    </div>
                    
                    <figure v-else class="image block">
                        <img src="/appcenter/media/{{package.thumbnail}}">
                    </figure>

                </div>


                <div class="column is-flex is-flex-direction-column is-justify-content-center is-align-items-start">

                    <h1 class="title is-hidden-touch">[[package.name]]</h1>

                    <table class="table is-fullwidth">
                        <tr>
                            <th>Type</th>
                            <td>
                                <span v-if="package.section == 'tooloop/presentation'">Presentation</span>
                                <span v-else-if="package.section == 'tooloop/addon'">Addon</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Version</th>
                            <td>[[package.version]]</td>
                        </tr>
                        <tr>
                            <th>Developer</th>
                            <td>
                                <a :href="package.homepage">[[package.maintainer]]</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Support</th>
                            <td><a :href="package.bugs">[[package.bugs]]</a></td>
                        </tr>
                    </table>

                    <button v-if="package.isInstalled" class="button is-danger is-fullwidth block" v-on:click="uninstall(package)">
                        <span class="icon is-small mr-1">
                            <i class="fas fa-trash"></i>
                        </span>
                        Uninstall
                    </button>

                    <button v-else class="button is-link is-fullwidth block" v-on:click="install(package)">
                        <span class="icon is-small mr-1">
                            <i class="fas fa-download"></i>
                        </span>
                        Install
                    </button>

                </div>
            </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div v-html="htmlDescription" class="column content is-two-thirds-widescreen"></div>
            </div>
        </div>
    </section>
</div>

<div id="installer">
    <Installer />
</div>
{% endblock %}


{% block footer_scripts %}
<script>
    // Initial state from server
    const package = {{ package | tojson }};
</script>
<script src="{{ url_for('static', filename='vendor/marked-4.0.15/marked.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/installer.js') }}"></script>
<script src="{{ url_for('static', filename='js/package-detail.js') }}"></script>
{% endblock %}